/* Keep existing red and green classes */

.list-group-item { 
    background-color: lightgray; /* Default color using Bootstrap's list-group-item */
  }
  
.list-group-item.btn-danger {
    background-color: red !important;
    color: white; /* Ensure text is visible on red background */
}
  
.list-group-item.btn-success {
    background-color: green !important;
    color: white; /* Ensure text is visible on green background */
}

.list-group-item.btn-warning {
    background-color: rgba(255, 255, 0, 0.398) !important;
    color: black; /* Ensure text is visible on yellow background */
}

.radio-list-group-item {
    display: flex; /* Arrange radio buttons and symptom text horizontally */
    align-items: center; /* Vertically center the items */
  }
  
.radio-list-group-item .radio-group {
    margin-right: 15px; /* Add some space between radio buttons and text */
}